# Virtual environments
venv/
.env/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# Environment variables
.env
.env.*

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/